.cohort-flex-container {
  height: 90vh;
  width: 100vw;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
}

.cohort-list {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  background-color: #fabd6c;
  padding: 1rem;
  border-radius: 0.7rem;
  align-items: center;
}

.cohort-list h3 {
    text-decoration: none;
}

.cohort-list li {
  list-style: none;
  padding: 0.4rem;
}

.cohort-displayed-list {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  width: 100%;
}

.cohort-displayed-list ul {
  list-style: none;
}
