* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hovered-description-container {
  display: flex;
  justify-content: center; /* Align the content horizontally */
  align-items: center; /* Align the content vertically */
  max-width: 30%;
  margin: 0 auto; /* Center the container */
}

.hovered-description-container p {
  font-size: 15px;
  margin: 0; /* Reset margin to center the text */
  text-align: center; /* Center the text within the container */
  padding-bottom: 1rem;
}


.create-classes-flex-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  gap: 0.75rem;
  padding: 0.5rem;
  height: 100vh; /* Adjust the value as needed */
}

.create-classes-form {
  margin-top: 20px;
}

.hovered-items-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  column-count: 2;
  column-gap: 0.5rem;
  width: fit-content;
  margin: 0 auto;
}

.hovered-items-container ul li {
  flex: 0 0 calc(50% - 10px);
  font-size: 15px;
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
}

label {
  margin-right: 10px;
}

.select-input {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
}

.hovered-items-container {
  margin-top: 20px;
}

.hovered-item {
  padding: 8px;
  background-color: #f4f4f4;
  margin-bottom: 5px;
  border-radius: 4px;
}

.custom-code-container {
  margin-top: 2rem;
}

.custom-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh; /* Adjust the value as needed */
}

.submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Adjust the value as needed */
}

.selected-classes-container {
  list-style: none;
  width: 50%;
  margin: 0 auto; /* Center the container horizontally */
}

.selected-classes-container ul {
  color: black;
  background-color: #fabd6c;
  list-style: none;
  text-align: center;
}
