
.choose-class-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  gap: 0.75rem;
  padding: 0.5rem;
  height: 100vh; /* Adjust the value as needed */
  border: 1px solid red;
}

.questions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Take up full height of parent */
    /* Add any other desired styles */
    border: 1px solid black;
  }
